h1
    margin: 0rem
h2
    margin: 0rem
h3
    margin: 0rem
h4
    margin: 0rem
h5
    margin: 0rem
h6
    margin: 0rem
    
.vstack
    display: flex
    flex-direction: column
    width: min-content
.hstack
    display: flex
    flex-direction: row
    height: min-content
.algn-center
    align-items: center
    text-align: center
.algn-strt
    align-items: start
    text-align: start
.algn-end
    align-items: end
    text-align: end
.jsty-center
    justify-content: center
.jsty-strt
    justify-content: start
.jsty-end
    justify-content: end

.weather-main
    background-color: #D9D9D9
    border-radius: 1.5rem
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

.weather-data
    font-weight: 900
.weather-data-label
    color: #4C4C4C
    font-weight: 900
.weather-data-metric
    font-weight: 400